/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height of the viewport */
}

header {
    background-color: #003264; 
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    flex: 1; /* Grow to fill available space */
    padding: 20px;
    text-align: center;
}

.profile-image {
    max-width: 80%; /* Make sure the image does not exceed its container's width */
    width: 600px;
    height: auto;
    border-radius: 50%; /* Optional: Add a border-radius for a circular profile picture */
}

footer {
    background-color: #003264; 
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Set a maximum width for the text within the section */
#ageText,
#ageText span,
#home p {
    max-width: 80%; /* Adjust the value as needed */
    width: 800px;
    margin: 0 auto; /* Center the text horizontally within the section */
    margin-bottom: 20px; /* Adjust the value as needed for the desired spacing */
}

/* Add styles for blog post containers */
.blog-post-container {
    max-width: 80%;
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #003264;
    background-color: #f5f5f5f5;
}

/* Add styles for timestamps */
.timestamp {
    text-align: right;
    font-style: italic;
    color: #888;
}

#career-container {
    max-width: 45%;
    box-shadow: 0 0 10px #003264;
    background-color: #f5f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

#career-info h2 {
    color: #006400;
}

#career-info ul {
    list-style: none;
    padding: 0;
}

#career-info li {
    margin-bottom: 10px;
}

#career-info p {
    line-height: 1.4;
}

#career-images {
    max-width: 45%;
    text-align: center;
}

#career-images img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}